.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;
	width: 1000px;
}

.title {
	font-weight: 300;
	font-size: 45px;
	text-align: center;
	margin-block: 20px;
}

.inputs {
	display: flex;
	justify-content: space-evenly;
}

.scroll-container {
	padding-inline: 10px;
}

.aircraft-list {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.aircraft {
	min-width: fit-content;
}

.mission-task {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	background-color: var(--background-hover);
	padding-block: 10px;
	font-weight: 300;
}

.input-label {
	margin-top: 20px;
	text-align: center;
	padding-block: 10px;
	font-weight: 300;
}

.buttons {
	display: flex;
	justify-content: flex-end;
	margin-block: 20px;
}

.back-button {
	position: absolute;
	top: 10px;
	left: 10px;

	svg {
		height: 32px;
		width: 32px;
		position: relative;
		top: 2px;
	}
}
