.item {
	position: relative;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	column-gap: 5px;
}

.card {
	height: 50px;
	position: relative;
}

.task {
	position: absolute;
	top: 0px;
	right: 0;
	padding: 5px;
	background-color: var(--cas);
	display: flex;
	justify-content: center;
	align-items: center;
}

.task--cas {
	background-color: var(--cas);
}

.task--cap {
	background-color: var(--cap);
}

.task--awacs {
	background-color: var(--awacs);
}
