.content {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 500px;
}

.title {
	font-size: 20px;
	font-weight: 800;
	margin-bottom: 20px;
}

.header {
	font-size: 16px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 10px;
}

.text {
	p {
		margin-block: 10px;
	}
}

.button {
	min-width: 100px;
}

.buttons {
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}
